@font-face {
    font-family: "mario";
    src: url("../assets/fonts/SuperMario256.ttf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../assets/images/bg.jpg");
    background-size: cover;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 200px;
    margin: 20px;
}

.game-screen {
    width: 80vw;
    height: 80vh;
    overflow: hidden;
    position: relative;
    background: rgb(103,182,255);
    background: linear-gradient(180deg, rgba(103,182,255,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.score {
    font-family: 'mario', sans-serif;
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 8px;
}

.score-result, .retry-btn, .back-btn {
    font-family: 'mario', sans-serif;
    background-color: #f9f0d3;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    border-radius: 16px;
    text-decoration: none;
    font-weight: 500;
    margin: 16px;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}

.score-result {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border: solid 2px #0000cc;
    color: #0000cc;
}

.retry-btn {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    border: solid 2px #E60000;
    color: #E60000;
}

.back-btn {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border: solid 2px #006600;
    color: #006600;
}

.retry-btn:hover, .back-btn:hover {
    opacity: 0.8;
}
